/* Footer.module.css */

.footer {
  background-color: #000;
  color: #ccc; /* Cor prata */
  text-align: center;
  padding: 20px;
  font-size: 0.9rem; /* Reduz a fonte */
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px; /* Espaço entre os itens */
}

.icon {
  width: 30px; /* Ajuste o tamanho do ícone conforme necessário */
  height: auto;
  margin-right: 10px;
}

.contact {
  margin-bottom: 20px;
}

.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaço entre os WhatsApps */
  margin-bottom: 15px;
}

.contactLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactLink span {
  font-size: 0.9rem; /* Reduz a fonte */
  color: #ccc;
}

.location, .hours {
  margin-bottom: 15px;
}

.location p, .hours p {
  color: #ccc;
  font-size: 0.9rem; /* Reduz a fonte */
  margin: 5px 0;
}

.copy {
  font-size: 0.8rem; /* Reduz ainda mais a fonte para o copyright */
  color: #ccc;
}

.copy p {
  margin: 0;
}
