html, body {
  font-family: 'Inter';
  letter-spacing: 0.3px; /* leve, elegante */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #000; /* fundo elegante */
  color: #d3d3d3; /* prata premium */
}

/* Títulos principais */
h1, h2, h3 {
  font-weight: 600; /* destaque elegante */
  letter-spacing: 1px; /* estilo Vivara */
  text-transform: uppercase;
}

/* Texto pequeno */
small, .small-text {
  font-size: 13px;
  letter-spacing: 0.5px;
}

/* Para botões/menu Web */
.nav-item, .menu-item {
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* Inputs */
input, button {
  font-family: 'Inter';
}
