/* Home.module.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.main {
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  color: #ccc;
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
  color: #aaa;
  margin-top: 20px;
}

.shopButton {
  background-color: #ccc;
  color: #000;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s;
}

.shopButton:hover {
  background-color: #bbb;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* Estilos do Header */
.header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
